.container{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

body{
	background-color: black;
	margin: 0px;
}

h1{
	font-family: fantasy;
	font-size: 3em;
	border-bottom: 2px solid pink;
	width: 400px;
	text-align: center;
	letter-spacing: 2px;
	word-spacing: 2px;
}

img{
	height: 300px;
	width: 450px;
	margin: 10px;
	transition: all 1s;
}

img:hover{
	transform: scale(1.1);
}